---
import Layout from "../Layout/Layout.astro";
import Overview from "../components/Overview.astro";
import Menu from "../components/Menu.astro";
---

<Layout>
  <main class="grid max-w-md gap-2" client:visible>
    <Overview />
    <Menu />
  </main>
</Layout>
