<div class="mx-4">
  <div class="card image-full card-bordered card-compact bg-base-100 shadow-xl">
    <figure>
      <img
        class="h-full"
        src="https://img.freepik.com/premium-vector/watercolor-horizontal-flatlay-composition-seamless-border-with-traditional-japanese-food-sushi_714749-140.jpg"
        alt="Shoes"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title text-2xl">Yumi Sushi Class</h2>
      <p class="text-lg">
        <span class="text-xl text-accent line-through">$249.99</span>
        <span class="text-2xl">$179.99</span>
      </p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary btn-sm">LEARN MORE</button>
      </div>
    </div>
  </div>
</div>
