<div class="mx-4 flex flex-col gap-2">
  <div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="https://images.unsplash.com/photo-1579871494447-9811cf80d66c"
                    alt="Avatar Tailwind CSS Component"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">Hart Hagerty</div>
              </div>
            </div>
          </td>
          <td></td>
          <th>
            <button class="btn btn-ghost btn-xs">$11.90</button>
          </th>
        </tr>
        <!-- row 2 -->
        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="https://images.unsplash.com/photo-1579871494447-9811cf80d66c"
                    alt="Avatar Tailwind CSS Component"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">Brice Swyre</div>
              </div>
            </div>
          </td>
          <td></td>
          <th>
            <button class="btn btn-ghost btn-xs">$11.90</button>
          </th>
        </tr>
        <!-- row 3 -->
        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="https://images.unsplash.com/photo-1579871494447-9811cf80d66c"
                    alt="Avatar Tailwind CSS Component"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">Marjy Ferencz</div>
              </div>
            </div>
          </td>
          <td></td>
          <th>
            <button class="btn btn-ghost btn-xs">$11.90</button>
          </th>
        </tr>
        <!-- row 4 -->
        <tr>
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    src="https://images.unsplash.com/photo-1579871494447-9811cf80d66c"
                    alt="Avatar Tailwind CSS Component"
                  />
                </div>
              </div>
              <div>
                <div class="font-bold">Yancy Tear</div>
              </div>
            </div>
          </td>

          <td></td>
          <th>
            <button class="btn btn-ghost btn-xs">$11.90</button>
          </th>
        </tr>
      </tbody>
      <!-- foot -->
    </table>
  </div>
</div>
