---
let opened = true;
---

<div class="mx-4 flex flex-col gap-2">
  <div>
    {
      opened ? (
        <span class="opened badge">open</span>
      ) : (
        <span class="closed badge">closed</span>
      )
    }
  </div>

  <div class="grid grid-cols-2 gap-2">
    <button class="btn">Fresh</button>
    <button class="btn">Cooked</button>
    <button class="btn">Joys</button>
    <button class="btn">Party</button>
  </div>
</div>

<style>
  .opened {
    @apply badge-primary font-mono font-bold text-primary-content;
  }

  .closed {
    @apply badge-accent font-mono font-bold text-primary-content;
  }
</style>
